<main>
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="card shadow-sm">
        <div class="card-header bg-secondary">
          <h3 class="text-white">Filter by:</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
              <label for="genreFilter"><strong>Genres</strong></label>
              <div>
                <a href="/" class="text-decoration-none">All</a>
              </div>
              {{#each genres}}
                <div>
                  <a href="/movie/{{this.value}}" class="text-decoration-none">{{this.label}}</a>
                </div>
              {{/each}}
            </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="card shadow-sm">
        <div class="card-header bg-primary bg-opacity-75">
          <h3 class="text-white">Movies</h3>
        </div>
        {{#if hasMovies}}
          <div class="card-body">
            <div class="row">

              {{#each movies}}
                <div class="col-3 mb-3 {{#unless this.status}}opacity-50{{/unless}}">
                  <div class="card shadow-sm h-100">
                    <img
                      src="{{this.imageUrl}}"
                      class="card-img-top"
                      height="300px"
                    />
                    <div class="card-body">
                      <h4>{{this.title}}</h4>
                      <div>
                        <div>
                          <label
                            class="card-subtitle text-muted"
                          >Description:</label>
                          {{this.description}}
                        </div>
                        <div>
                          <label class="card-subtitle text-muted">Genre:</label>
                          <span class="badge text-bg-info">{{this.genre}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        {{else}}
          <div class="container-fluid text-center m-5">
            <h4>No movies found!</h4>
          </div>

        {{/if}}
      </div>
    </div>
  </div>
</main>